<p id="notice"><%= notice %></p>

<p>
  <% Instance.new.attributes.keys.each do |attr| %>
  <strong><%= attr %>:</strong>
  <%= @instance.send(attr) %><br>
  <% end %>
</p>

<%= link_to 'Back', instances_path %>
